<div style="background: #fafafa; min-height: 100%">
  <div
    style="
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      width: 100%;
      max-width: 700px;
      margin: 0 auto;
    "
  >
    <h1 style="text-align: center; margin-top: 0; padding-top: 0.6em">
      Nouvelles notes
    </h1>

    {% for note in newGrades %}
    <table style="margin-top: 10px; width: 100%; border-collapse: collapse">
      <tr>
        <td
          style="border: 1px solid #dddddd; border-left: none; padding: 0"
          colspan="3"
        >
          <div
            style="border-left: 4px solid {{note.color}}; padding: 8px; height: 100%"
          >
            {{note.classe}}
          </div>
        </td>
        <td
          style="
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: right;
            white-space: nowrap;
            min-width: 100px;
          "
        >
          {% if note.rendu %} {{note.rendu}}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            width=".75em"
            style="margin: 0 8px"
          >
            <path
              d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V240c0 8.8-7.2 16-16 16s-16-7.2-16-16V64c0-17.7-14.3-32-32-32s-32 14.3-32 32V336c0 1.5 0 3.1 .1 4.6L67.6 283c-16-15.2-41.3-14.6-56.6 1.4s-14.6 41.3 1.4 56.6L124.8 448c43.1 41.1 100.4 64 160 64H304c97.2 0 176-78.8 176-176V128c0-17.7-14.3-32-32-32s-32 14.3-32 32V240c0 8.8-7.2 16-16 16s-16-7.2-16-16V64c0-17.7-14.3-32-32-32s-32 14.3-32 32V240c0 8.8-7.2 16-16 16s-16-7.2-16-16V32z"
            />
          </svg>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td colspan="1" style="width: 800px"></td>
        <td style="
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: right;
            white-space: nowrap;
            font-size: 0.8em;
          "
        >
        {{note.commentaire}}
        </td>
        <td
          style="
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: right;
            white-space: nowrap;
          "
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            width=".75em"
            style="margin: 0 8px"
          >
            <path
              d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"
            />
          </svg>
          {{note.fait}}
        </td>
        <td
          style="
            background: white;
            border: 1px solid #dddddd;
            font-weight: bold;
            text-align: right;
            padding: 0;
          "
        >
          <div
            style="
              margin-left: auto;
              border-bottom: 2px solid {{note.color}};
              padding: 8px;
              direction: rtl;
              width: calc( {{note.grade}} / {{note.max}} * 100%);
              box-sizing: border-box;
            "
          >
            {{note.grade}}/{{note.max}}
          </div>
        </td>
      </tr>
    </table>
    {% endfor %}

    <h1 style="text-align: center; margin-top: 50px">Dernières Notes</h1>

    {% for note in oldGrades %}
    <table style="margin-top: 10px; width: 100%; border-collapse: collapse">
      <tr>
        <td
          style="border: 1px solid #dddddd; border-left: none; padding: 0"
          colspan="2"
        >
          <div
            style="border-left: 4px solid {{note.color}}; padding: 8px; height: 100%"
          >
            {{note.classe}}
          </div>
        </td>
        <td
          style="
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: right;
            white-space: nowrap;
          "
        >
          {% if note.rendu %} {{note.rendu}}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            width=".75em"
            style="margin: 0 8px"
          >
            <path
              d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V240c0 8.8-7.2 16-16 16s-16-7.2-16-16V64c0-17.7-14.3-32-32-32s-32 14.3-32 32V336c0 1.5 0 3.1 .1 4.6L67.6 283c-16-15.2-41.3-14.6-56.6 1.4s-14.6 41.3 1.4 56.6L124.8 448c43.1 41.1 100.4 64 160 64H304c97.2 0 176-78.8 176-176V128c0-17.7-14.3-32-32-32s-32 14.3-32 32V240c0 8.8-7.2 16-16 16s-16-7.2-16-16V64c0-17.7-14.3-32-32-32s-32 14.3-32 32V240c0 8.8-7.2 16-16 16s-16-7.2-16-16V32z"
            />
          </svg>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td colspan="1" style="width: 800px"></td>
        <td
          style="
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: right;
            white-space: nowrap;
          "
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            width=".75em"
            style="margin: 0 8px"
          >
            <path
              d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"
            />
          </svg>
          {{note.fait}}
        </td>
        <td
          style="
            background: white;
            border: 1px solid #dddddd;
            font-weight: bold;
            text-align: right;
            padding: 0;
          "
        >
          <div
            style="
              margin-left: auto;
              border-bottom: 2px solid {{note.color}};
              padding: 8px;
              direction: rtl;
              width: calc( {{note.grade}} / {{note.max}} * 100%);
              box-sizing: border-box;
            "
          >
            {{note.grade}}/{{note.max}}
          </div>
        </td>
      </tr>
    </table>
    {% endfor %}
  </div>
</div>
